body {
  background-color: #dddddd;
}


.navbar-brand {
    margin: 0;
    padding: 0;
}

.navbar-brand img {
    max-height: 100%;
}

.carousel-inner > .item > img {
  width:640px;
  height:360px;
}
