
.background-gray {
  background-color: #E5E5E5;
}
p {
  font-size: .85em;
  color: #575757;
}
small {
  color: #575757;
}

/* HEADER */
header {
  margin: 20px auto;
}
.logo-container {
  background-color: #CCCCCC;
  font-weight: bold;
  color: #9E9E9E;
  padding: 10px;
}
.logo {
  font-size: 28px;
}
.company-subtitle {
  font-size: 17px;
}

/* NAVIGATION */
nav {
  height: 30px;
  background-color: white;
}
nav li {
  padding: 0 10px;
  line-height: 1.35em;
  font-weight: bold;
  font-size: .85em;
  border-right: 1px solid #F2F2F2;
}
nav a {
  color: #575757;
}

/* HERO */
.section {
  margin: 20px 0 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #CCCCCC;
}
.hero img {
  height: 350px;
  padding-left: 0;
  width: 100%;
  object-fit: cover;
}

/* ARTICLES SECTION */
.article-wrapper {
  border-right: 1px solid #CCCCCC;
}
.no-border {
  border-right: none;
}
.article {
  padding: 0 10px;
}
.newsletter-heading {
  font-weight: bold;
  font-size: .85em;
  color: #575757;
}
.date {
  font-size: .85em;
  color: #575757;
}
.article-title {
  margin: .5em 0;
  color: #575757;
}
.newsletter-image {
  margin-bottom: 15px;
}
.p-margin-top{
  margin-top: -5px;
}
.fig-no-margin {
  margin: 0;
  padding: 1.5em 0 0;
}
.blog-image {
  float:left;
  margin-right: 1em;
  height: 70px;
  width: 70px;
}
.article-top {
  padding-bottom: .75em;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 20px;
}
.read-more {
  float: right;
}
.sign-up-paragraph {
  margin-top: 10px;
}
.sign-up-input {
  margin-bottom: 10px;
}
footer {
  padding-bottom: 20px;
  font-size: .75em;
}
