/*
	Styles for Class project
*/

body {
	font-family: helvetica, arial, sans-serif;
/*  color: #c0c1c4; */
    color: #000000;
	min-height: 16px;
  padding: 0px;
}
h1, h2 {
  margin: 0;
  padding: 0;
}
/*.box {
  padding: 5px;
  color: #373737;
  font-weight: bold;
  font-size: 2em;
	width: 50px;
	height: 50px;
	background-color: white;
	border: 1px solid #ccc;
}*/
.container {
	width: 100%;
/*	padding: 10px;*/
	margin: 20px auto;
/*	border: 2px solid green;*/
	background-color: lightgray;
}
.header {
	height: 100px;
	border: 1px solid gray;
  background-color: lightgray;
	position: relative; /* now anchors absolute items */
}
.header1 {
	width: 20%;
	height: 80% auto;
  background-color: #7f7f7f;
	position: relative; /* now anchors absolute items */
}
.links {
	position: absolute;
	top: 10px;
	right: 5px;
}
.search {
	position: absolute;
	top: 40px;
	right: 5px;
}
.btn-group {
	height: 30px;
	background-color: white;
}
.btn-group .button {
    background-color: white;
    color: black;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
		float: left;
	  border: 1px solid gray;
		height: 30px;
		position: relative;
}
.btn-group .button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
.btn-group .button:hover {
    background-color: gray;
}
.topsection {
	height: 400px;
}
.slideshow {
	width: 600px;
	height: 400px;
	position: absolute;
	 left: 10px;
	/*position: relative;*/
}
.gibberish {
	width: auto;
	height: 400px;
	position: absolute;
	 left: 650px;
	/*position: relative;*/
}
.mainbody {
	width: 100%;
	height: 500px;
	background-color: blue;
	position: relative;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}
.newsletter {
	padding: 20px;
	margin: auto;
	width: 420px;
	height: 500px;
	background-color: purple;
	position: relative;
}
.blog {
	margin: auto;
	width: 420px;
	height: 300px;
	background-color: green;
	position: relative;
}
.blogtop {
	/*height: 150px;*/
	height: 50%;
		  border: 1px solid gray;
}
.blogbottom {
		/*height: 150px;*/
			height: 50%;
	  border: 1px solid blue;
}
.signup {
	margin: auto;
	width: 420px;
	height: 300px;
	background-color: red;
	position: relative;
}
.footer {
	padding: 20px;
	width: 100%;
	height: 100px;
	background-color: gray;
	position: relative;
}
