body {
  /*background-color: #E5E5E5;*/
  color: #575757;
}
.background-gray {
  background-color: #E5E5E5;
}
/*li {
  list-style: none;
  display: inline-block;
}*/
p {
  font-size: .85em;
  /*line-height: 1.5em;
  margin-top: -5px;*/
}
/*.blue-anchor {
  color: #1C86EE;
  font-size: .85em;
}*/
/* HEADER */
header {
  /*width: 80vw;*/
  /*display: flex;*/
  /*align-items: flex-start;*/
  /*justify-content: space-between;*/
  /*flex-wrap: wrap;*/
  /*padding: 0px 10px;*/
  margin: 20px auto;
}
header li {
  padding-left: 20px;
}
header li a.nav-link {
  font-size: .85em;
  padding-right: 0;
}
.logo-container{
  /*width: 160px;*/
  background-color: #CCCCCC;
  font-weight: bold;
  color: #9E9E9E;
  padding: 10px;
}
.logo {
  font-size: 28px;
}
.company-subtitle {
  font-size: 17px;
}

/* NAVIGATION */
nav {
  /*width: 80vw;*/
  height: 30px;
  /*display: flex;*/
  /*align-items: center;*/
  background-color: white;
  /*margin: auto;*/
}
nav ul {
  /*padding-left: 5px;*/
}
nav li {
  padding: 0 10px;
  height: 30px;
  line-height: 1.35em;
  font-weight: bold;
  font-size: .85em;
  border-right: 1px solid #F2F2F2;
}
nav a {
  color: #575757;
}

/* HERO */
.section {
  margin: 20px auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #CCCCCC;
}
.hero img {
  height: 350px;
  padding-left: 0;
  width: 100%;
  object-fit: cover;
}
/*.hero article {
  margin-left: 20px;
  padding-right: 30px;
}*/

/* ARTICLES SECTION */
/*.wrap {
  flex-wrap: wrap;
}*/
.article-wrapper {
  /*width: 33%;*/
  border-right: 1px solid #CCCCCC;
}
.no-border {
  border-right: none;
}
.article {
  padding: 0 10px;
}
.newsletter-heading {
  font-weight: bold;
  font-size: .85em;
}
.date {
  font-size: .85em;
}
.article-title {
  margin: .5em 0;
}
.newsletter-image {
  /*height: 250px;
  width: 100%;*/
  /*object-fit: cover;*/
  margin-bottom: 15px;
}
.p-margin-top{
  margin-top: -5px;
}
.fig-no-margin {
  margin: 0;
  padding: 1.5em 0 0;
}
.blog-image {
  float:left;
  margin-right: 1em;
  height: 70px;
  width: 70px;
}
.article-top {
  padding-bottom: .75em;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 20px;
}
.read-more {
  float: right;
}
.sign-up-paragraph {
  margin-top: 10px;
}
.sign-up-input {
  width: 175px;
  margin-bottom: 10px;
}
footer {
  margin: 20px auto;
  padding-bottom: 20px;
  width: 80vw;
  font-size: .75em;
}
