body{
  background-color: lightgrey;
}

.header{
  position: relative;
  width=100%;
  margin=0px;
}

.headerlinks {
  position:absolute;
  top: 25%;
  right: 0;
}

.headerlinks li{
  display: inline;
  padding:4px;
  margin-left: 5px;
  list-style-type: none;
}

.search {
  display: inline;
  float: right;
}

.searchbutton{
  margin-left: 20px;
}
